.select-editable {
    position:relative;
    background-color:white;
    border:0;
    width:120px;
    height:30px;
}
.select-editable select {
    position:absolute;
    top:0px;
    left:0px;
    font-size:14px;
    border:none;
    width:120px;
    height:30px;
    margin:0;
}
.select-editable input {
    position:absolute;
    top:0px;
    left:0px;
    width:100px;
    height:30px;
    border:none;
}
.select-editable select:focus, .select-editable input:focus {
    outline:none;
}
